// Praccy Windows Resource Script
#include "resource.h"

// Application Icons
IDI_APP_ICON            ICON    "icon.ico"
1                       ICON    "icon.ico"

// Embedded TrueType Fonts (RT_RCDATA / type 10)
IDR_FONT_INTER          RCDATA  "fonts/Inter-Regular.ttf"
IDR_FONT_JETBRAINS_MONO RCDATA  "fonts/JetBrainsMono-Regular.ttf"
